.bookmark {
  position: absolute;
  top: -4px;
  right: 6.2%;
  border: none;
  background-color: initial;
  z-index: 1;
}

.bookmark path {
  fill: #C4C1CF;
}

.bookmark--active path
{
  fill: #FF005C;
}