.search-panel__button {
  display: block;
  width: 145px;
  height: 48px;
  border-radius: 32px;
  background-color: #44414e;
  border: none;
  font-size: 18px;
  line-height: 17px;
  color: #c4c1cf;
  font-weight: 500;
  margin-right: 14px;
}
